<!DOCTYPE html>
<html>

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="icon" type="image/ico" href="../img/favicon.ico">

    <!-- Site Properties -->
    <title>Mindfully | New Message</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../views/semantic/dist/semantic.min.css" />
    <script src="../js/login.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/new.css">


</head>

<body>

    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui image header" id="loginHeader">
                <div class="content">
                    Compose your message
                </div>
            </h2>
            <form class="ui large form">
                <div class="ui stacked segment">

                    <div class="field fluid large input" id="newField">
                        <input type="text" placeholder="Title">
                    </div>

                    <div class="field fluid large input" id="newField">
                        <textarea type="text" placeholder="Message"></textarea>
                    </div>

                    <div class="ui form fluid large" id="newSelection">
                        <div class="field">
                            <div class="ui search dropdown selection">
                                <select>
                                    <option value="">Select Category</option>
                                    <option value="anniversary">Anniversary</option>
                                    <option value="birthday">Birthday</option>
                                    <option value="congrats">Congratulations</option>
                                    <option value="get">Get Well</option>
                                    <option value="grad">Graduation</option>
                                    <option value="baby">New Baby</option>
                                    <option value="retire">Retirement</option>
                                    <option value="thanks">Thank You</option>
                                    <option value="wedding">Wedding</option>
                                </select>
                                <i class="dropdown icon"></i>

                                <input class="search" autocomplete="off" tabindex="0">
                                <div class="default text">Select Category</div>
                                <div class="menu" tabindex="-1">
                                    <div class="item" data-value="anniversary">Anniversary</div>
                                    <div class="item" data-value="birthday">Birthday</div>
                                    <div class="item" data-value="congrats">Congratulations</div>
                                    <div class="item" data-value="get">Get Well</div>
                                    <div class="item" data-value="grad">Graduation</div>
                                    <div class="item" data-value="baby">New Baby</div>
                                    <div class="item" data-value="retire">Retirement</div>
                                    <div class="item" data-value="thanks">Thank You</div>
                                    <div class="item" data-value="wedding">Wedding</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="ui primary button" id="newSubmit">
                        Submit
                    </button>

                    <a href="/dashboard"><button class="ui button">
                        Back to Dashboard
                    </button></a>

                </div>

                <div class="ui error message"></div>

            </form>

            <!--  <div class="ui message">
                    New to us?
                    <a href="#">Sign Up</a>
                </div> -->
        </div>
    </div>



</body>

</html>